* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    min-height: max-content;
    background-color: #fff;
    cursor: pointer;
    border: solid 1px #c0c0c0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: none;
    padding: 6px;
    transition: .5s;
    position: relative;


    &:hover {
        cursor: pointer;
        transition: .5s;
        transform: scale(1.02);
        box-shadow: 1px 5px 10px 5px #c0c0c0;
    }

    .form {

        .img {
            width: 100%;
            height: 180px;
            border: 5px solid #fff;
            margin: auto;
        }

        .txt {
            color: #000;
            border: none;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .infos {
            padding: 15px;
            border-top: 1px solid #ddd;

            .price {
                font-size: 30px;
                font-weight: 400;
                display: block;
                margin-bottom: 10px;
            }

            .title {
                margin-bottom: 10px;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #000;
                font-weight: 400;
                white-space: normal;
                max-height: 3em;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .actions {
                display: flex;
                flex-direction: column;
            }
        }
    }


}