.container {
    display: flex;
    flex-direction: column;

    .container_title {
        font-size: x-large;
        align-self: center;
        margin-top: 2em;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;

    width: 400px;
    margin: 70px auto;
}


.form input {
    padding: 8px 5px;
    background-color: red;
    // margin-bottom: 1.5em;
    border-radius: 5px;
    background-color: #ebebeb;
    outline: none;
    border: none;
}

.form input[type="submit"] {
    background-color: #61dafb;
    border: 1px solid #61dafb;
    color: #000;
    transition: 0.5s;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #fff;
    border-color: #282c34;
}

.input_container {
    display: flex;
    text-align: left;
    background-color: #ebebeb;
    height: 40px;
    border-radius: 5px;
    // width: 25rem;
    margin-bottom: 15px;
    align-items: center;

    .icon_input {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
}

.input_container label {
    font-weight: 400;
    margin-bottom: 0.4em;
}