.home {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

    .homeData {
        padding: 100px 20px 10px;
        width: 30em;
    }

    .container {
        padding: 10px 20px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .loadContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
}