.container {
    // background-color: #fff;
    // padding: 10px;
    // border-radius: 20px;
    // margin: 100px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.teste {
    font-size: 4rem;
    // margin: 200px auto 0;
    animation: spin 1s linear infinite;
    display: flex;
}

.loading {
    font-size: 1.2rem;
    animation: spin 1s linear infinite;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}