.cart_item {
    display: flex;
    align-items: start;
    border-bottom: solid 1px #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;

    .cart_item_image {
        // width: calc(35% - (4 * $grid-gutter));
        width: 70px;

    }

    .cart_item_content {
        padding: 0 35px 0 10px;


        .cart_item_title {
            font-size: 0.85rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.5);
            margin-bottom: 8px;
        }

        .cart_item_price {
            font-size: 25px;
            font-weight: 500;
        }

        .button_remove_item {
            position: absolute;
            top: 0;
            right: 0;
            color: #d83232;
            font-size: 1.4rem;
            width: 45px;
            height: 45px;
            display: flex;
            font-size: 28px;
            justify-content: center;
            align-items: center;
            border: none;
            // border-radius: 50px;
            // background-color: rgba(255, 205, 211, 0.8);
            // border: solid 1px;
            // border-radius: 50%;
            background: none;
            cursor: pointer;
        }
    }


}